{% extends 'base.html' %}

{% block pagetitle %}
    Категория кітаптары
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href = "{% url 'home' %}">Категориялар</a></li>
    <li class="breadcrumb-item active">{{ category.name }}</li>
{% endblock %}

{% block content %}
    <table class="table">
    <thead>
        <tr>
            <th>
                Кітап аты
            </th>
            <th>
                isbn
            </th>
        </tr>
    </thead>
    <tbody>
    {% for c in category.books.all %}
        <tr>
            <td>
                {{ c.title }}
            </td>
            <td>{{ c.isbn }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}